.fc-box {
  position: relative;
  perspective: 1000px;

  &__front,
  &__back {
    transition: transform 0.6s ease-out;
    backface-visibility: hidden;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotateY(-180deg);
  }

  &--flipped {
    .fc-box__front {
      transform: rotateY(180deg);
    }

    .fc-box__back {
      transform: rotateY(0deg);
    }
  }

  &--vertical {
    .fc-box__back {
      transform: rotateX(-180deg);
    }
  }

  &--flipped-vertically {
    .fc-box__front {
      transform: rotateX(180deg);
    }

    .fc-box__back {
      transform: rotateX(0deg);
    }
  }
}
